// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: BEBAS;
    src: url(asset_path("BEBAS.ttf"));
}

@font-face {
    font-family: Canterbury;
    src: url(asset_path("canterbury.regular.ttf"));
}

@font-face {
    font-family: Carson;
    src: url(asset_path("carson.regular.otf"));
}

@font-face {
    font-family: Antic;
    src: url(asset_path("antic-didone.regular.ttf"));
}

$black: #000000;
$white: #ffffff;
$fastTransition: all 0.2s ease;
$slowTransition: all 0.5s ease;

body {
    background-color: #0B0B19 !important;
}

#loaderBackground {
    position: fixed;
    top: -100%;
    left: 0;
    transition: $slowTransition;
    z-index:9998;
    width:100%;
    height:100%;
    background-color:#15253B;
}

#loaderBackground[active="true"] {
    top: 0;
}

#loaderHolder {
    top: -40%;
    left: 40%;
    width:20%;
    text-align: center;
    position: fixed;
    z-index: 9999;
    transition: $slowTransition;
}

#loaderHolder[active="true"] {
    top: 40%;
}

#loaderHolder[close="true"] {
    transform: rotate(360deg);
    opacity:0.0;
}

.loader {
    height: 100px;
    width: 100%;
    border: 2px solid #D7AD00;
    text-align: center;
    border-radius: 100px;
    background: #D7AD00 url(image_path("bat.png")) no-repeat center;
    background-size: 35%;
    box-shadow: 0px 10px 40px $black;
    overflow: none;
    cursor: pointer;
    margin-bottom: 15px;
    animation-name: colourChanger;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: $slowTransition;
}

.loaderText {
    text-align: center;
    color: #005F15;
    font-family: 'Carson', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    transition: $fastTransition;
}

.ready {
    background-color: #005F15;
    color: $white;
    border-radius: 5px;
    padding:5px;
    border:2px solid rgb(1, 68, 20);
}

@keyframes colourChanger {
    0% {
        background: #D7AD00 url(image_path("bat.png")) no-repeat center;
        background-size: 35%;
    }
    25% {
        background: #E03236 url(image_path("bat.png")) no-repeat center;
        background-size: 35%;
    }
    35% {
        background: #005F15 url(image_path("bat.png")) no-repeat center;
        background-size: 35%;
    }
    75% {
        background: #629BB1 url(image_path("bat.png")) no-repeat center;
        background-size: 35%;
    }
    100% {
        background: #4C5646 url(image_path("bat.png")) no-repeat center;
        background-size: 35%;
    }
}

.birdsLayer {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    overflow: hidden;
    filter: blur(4px);
}

.mainBackground {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    filter: blur(5px);
    transition: $slowTransition;
}

.main {
    position: fixed;
    z-index: 2;
    top: 0;
    background: rgba(255,255,255,0.9);
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: $slowTransition;
}

.main[active="true"] {
    left: 0;
    background: rgba(255,255,255,0.0);
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: inset 0px 0px 60px #000000;
}

.mainBackground[active="home"] {
    background: #856161 url(image_path('night-bg.jpg')) center;
    background-size: cover;
}

.mainBackground[active="about"] {
    background: #856161 url(image_path('gc-1.jpg')) center;
    background-size: cover;
}

.mainBackground[active="projects"] {
    background: #856161 url(image_path('gc-night.jpg')) center;
    background-size: cover;
}

.large {
    font-family: 'BEBAS', Arial, Helvetica, sans-serif !important;
    color: $white !important;
    font-size: 19rem;
    letter-spacing: -5px;
    text-shadow:0px 5px 0px #000000;
    font-weight: bold;
    transition: all 1s ease;
}

.large[active="false"] {
    opacity: 0.0;
}

.large[active="true"] {
    opacity: 1.0;
}

.icon {
    background: $black;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 3px solid $white;
    cursor: pointer;
    transition: $fastTransition;
}

.icon[instagram="true"] {
    background: $black url(image_path('instagram.png')) no-repeat center;
    background-size: 50%;
}

.icon[linkedin="true"] {
    background: $black url(image_path('linkedin.png')) no-repeat center;
    background-size: 50%;
}

.icon[medium="true"] {
    background: $black url(image_path('medium-size.png')) no-repeat center;
    background-size: 50%;
}

.icon[skype="true"] {
    background: $black url(image_path('skype.png')) no-repeat center;
    background-size: 50%;
}

.icon[twitter="true"] {
    background: $black url(image_path('twitter.png')) no-repeat center;
    background-size: 50%;
}

.icon[github="true"] {
    background: $black url(image_path('github-sign.png')) no-repeat center;
    background-size: 50%;
}

.icon:hover{
    background-color: $white;
    border: 0;
    box-shadow: inset 0px 0px 20px #000000;
    transform: rotate(30deg);
}

.player{
    visibility: hidden;
}

.links {
    // position: fixed;
    // z-index: 2;
    // top: 80%;
    // left:100%;
    // width: 80%;
    width: 50%;
    opacity:0.0;
    transition: $slowTransition;
}

.links[active="true"] {
    width:100%;
    opacity: 1.0;
    // left: 10%;
}

.picture {
    background: $black url(image_path('dp.jpg')) center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 3px solid $white;
    border-radius: 100px;
    margin-left: 45%;
    filter: grayscale(100%);
    transition: $slowTransition;
}

.picture:hover {
    filter: grayscale(0%);
}

.navlinks {
    position: fixed;
    z-index: 3;
    text-align: center;
    color: #cccccc;
    text-shadow:0px 0px 1px $white;
    background-color: rgba(33, 63, 90, 0.7);
    font-size: 30px;
    cursor: pointer;
    opacity:0.0;
    transition: $fastTransition;
}

.navlinks:hover {
    text-shadow: 0px 0px 3px $white;
    background-color: rgba(33, 63, 90, 1.0);
    box-shadow: 0px 0px 20px #000000;
}

.navlinks[left="true"] {
    left: 0%;
    top: 0%;
    height: 100%;
}

.navlinks[right="true"] {
    right: 0%;
    top: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: $white !important;
    font-family: 'BEBAS', Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    text-shadow: 0px 2px 0px $black;
}

h1 {
    font-size: 45px !important;
}

.projects-background {
    background: #000000 url(image_path('gc-comic.jpg')) center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.dropshadow {
    // background-color: #333333;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 
        0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 
        0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 
        0 12px 0 #181818, 0 13px 0 #161616, 
        0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.box {
    width: 100%;
    min-width: 250px;
    display: block;
    min-height: 50px;
    height: auto;
    position: relative;
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.7);
    margin-bottom: 40px;
    padding: 15px 25px 10px 40px;
    color: #ffffff;
    box-shadow: 0px 5px 20px #000000;
    font-family: 'Antic', Arial, Helvetica, sans-serif;
    // font-weight: bold;
    transition: background, box-shadow, transform 200ms ease-in-out;
}

.shadow {
    position: relative;
}

.shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 7px;
    width: 75%;
    top: 0;
    box-shadow: 0 15px 10px #000000;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
    transition: all 150ms ease-in-out;
}
  
.box:hover {
    background: rgba(51, 51, 51, 1.0);
    box-shadow: 0px 2px 2px #000000;
    transform: scale(1.2);
}

.shadow:hover::before {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 20px;
    z-index: -10;
}

.circle {
    position: absolute;
    top: 14px;
    left: 15px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px rgba(0,0,0,0.6);
    width: 20px;
    height: 20px;
    display: inline-block;
}
  
h1.burn {
    width: 242px;
    height: 94px;
    line-height: 94px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -121px;
    margin-top: -47px;
    z-index: 10;
    color: #fff;
}

@keyframes fire {
    0% {
        filter: blur(27px);
    }
    10% {
        filter: blur(37px);
    }
    20% {
        filter: blur(42px);
    }
    30% {
        filter: blur(28px);
    }
    40% {
        filter: blur(18px);
    }
    50% {
        filter: blur(25px);
    }
    60% {
        filter: blur(29px);
    }
    70% {
        filter: blur(32px);
    }
    80% {
        filter: blur(30px);
    }
    90% {
        filter: blur(35px);
    }
    100% {
        filter: blur(27px);
    }
}

@keyframes fire2 {
    0% {
        filter: blur(7px);
    }
    10% {
        filter: blur(17px);
    }
    20% {
        filter: blur(12px);
    }
    30% {
        filter: blur(8px);
    }
    40% {
        filter: blur(12px);
    }
    50% {
        filter: blur(5px);
    }
    60% {
        filter: blur(9px);
    }
    70% {
        filter: blur(12px);
    }
    80% {
        filter: blur(10px);
    }
    90% {
        filter: blur(15px);
    }
    100% {
        filter: blur(17px);
    }
}